@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
    :root {
      --background: 104 55% 98%;
      --foreground: 104 76% 4%;
      --muted: 74 39% 91%;
      --muted-foreground: 74 15% 36%;
      --popover: 104 55% 98%;
      --popover-foreground: 104 76% 4%;
      --card: 104 55% 98%;
      --card-foreground: 104 76% 4%;
      --border: 104 7% 88%;
      --input: 104 7% 88%;
      --primary: 104 35% 36%;
      --primary-foreground: 0 0% 100%;
      --secondary: 74 35% 36%;
      --secondary-foreground: 0 0% 100%;
      --accent: 134 35% 36%;
      --accent-foreground: 0 0% 100%;
      --destructive: 8 98% 37%;
      --destructive-foreground: 0 0% 100%;
      --ring: 104 35% 36%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 104 46% 4%;
      --foreground: 104 36% 98%;
      --muted: 74 39% 9%;
      --muted-foreground: 74 15% 64%;
      --popover: 104 46% 4%;
      --popover-foreground: 104 36% 98%;
      --card: 104 46% 4%;
      --card-foreground: 104 36% 98%;
      --border: 104 7% 12%;
      --input: 104 7% 12%;
      --primary: 104 35% 36%;
      --primary-foreground: 0 0% 100%;
      --secondary: 74 35% 36%;
      --secondary-foreground: 0 0% 100%;
      --accent: 134 35% 36%;
      --accent-foreground: 0 0% 100%;
      --destructive: 8 98% 52%;
      --destructive-foreground: 0 0% 100%;
      --ring: 104 35% 36%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
