@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";


@font-face {
  font-family: 'ApeMount';
  src: url('/fonts/aApeMount.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DCC-Ash';
  src: url('/fonts/DCC - Ash.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#presentation {
  background-image: 
    url('/alex3.png'), 
    url('/client2.png');
  background-position: -50px center, right 180px;
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 26%; /* Définit leur taille par défaut */
  position: relative;
}

@media (max-width: 1024px) { /* Écrans moyens */
  #presentation {
    background-image: 
      url('/alex3.png'), 
      url('/client2.png');
    background-position: left center, right center; /* Ajuste la position */
    background-size: 50%, 40%; /* Réduit la taille */
  }
}

@media (max-width: 768px) { /* Écrans mobiles */
  #presentation {
    background-image: url('/alex.png'); /* Une seule image */
    background-position: center; /* Centre l'image */
    background-size: 70%; /* Taille réduite */
  }
}

@media (max-width: 480px) { /* Très petits écrans */
  #presentation {
    background-image: url('/alex.png');
    background-position: center; 
    background-size: 90%; /* Agrandit légèrement pour occuper plus d'espace */
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 102 54% 98%;
    --foreground: 102 71% 5%;
    --muted: 282 11% 89%;
    --muted-foreground: 282 7% 29%;
    --popover: 102 54% 97%;
    --popover-foreground: 102 71% 4%;
    --card: 102 54% 97%;
    --card-foreground: 102 71% 4%;
    --border: 102 15% 93%;
    --input: 102 15% 93%;
    --primary: 102 43% 73%;
    --primary-foreground: 102 43% 13%;
    --secondary: 63.4 71.47% 81.13%;
    --secondary-foreground: 282 43% 13%;
    --accent: 63.48 71.13% 80.98%;
    --accent-foreground: 282 43% 13%;
    --destructive: 18 91% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 102 43% 73%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 102 51% 4%;
    --foreground: 102 34% 98%;
    --muted: 282 11% 11%;
    --muted-foreground: 282 7% 71%;
    --popover: 102 51% 5%;
    --popover-foreground: 102 34% 99%;
    --card: 102 51% 5%;
    --card-foreground: 102 34% 99%;
    --border: 102 15% 12%;
    --input: 102 15% 12%;
    --primary: 102 43% 73%;
    --primary-foreground: 102 43% 13%;
    --secondary: 63.4 71.47% 81.13%;
    --secondary-foreground: 282 43% 13%;
    --accent: 282 43% 73%;
    --accent-foreground: 282 43% 13%;
    --destructive: 18 91% 60%;
    --destructive-foreground: 18 91% 0%;
    --ring: 102 43% 73%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
